<h1>Course#index</h1>
<p>Find me in app/views/course/index.html.erb</p>

<div class="slideDown">

<% @courses.each do |course| %>
   <%= link_to course_path(course) do %>
    <%= render 'courses/course', course:course %>
    <% end %>
<% end %>
</div>
